.header {
    background-color: #1f2937;
    height: 350px;
    width: auto;
}

.navbar-container {
    display: flex;
}

.navbar {
    display: flex;
    flex: auto;
    justify-content: space-around;
}

.navbar-logo {
    height: 24px;
    width: auto;
    color: #f9faf8;
    display: flex;
    margin-top: 15px;
    margin-bottom:0;
    
}

.navbar-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}
.links {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

